body {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 40px;
}
.green-color {
  color: green;
}
.flex-container {
  display: flex;
  margin-bottom: 100px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, green);
  color: white;
  font-weight: 700;
  padding: 12px 42px;
  border-radius: 10px;
}
.second-banner {
  background-image: url(images/shapes/7.png);
}

.text-center {
  text-align: center;
}
.recipies {
  margin-top: 5%;
}

.recBox {
  /* border: 2px solid; */
  padding: 5%;
  margin: 5%;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4%;
}

.recBox img {
  max-width: 100%;
  margin-bottom: 20%;
}
.text-center {
  text-align: center;
}

.topNav {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  height: 10vh;
}

.navBar a {
  text-decoration: none;
}

.topNav .logo a {
  color: #111;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topNav .logo a span {
  color: orange;
}

.topNav .navItems {
  margin-right: 1%;
}

.topNav .navItems a {
  margin-right: 1em;
  color: #111;
}

.topNav .navItems a:hover {
  color: orange;
}
